
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'login.css' %}">
</head>
<body>

<form action="forget" method="post">
    {% csrf_token %}


  <div class="container">
    <label><b>Enter your Username</b></label>
    <input type="text" placeholder="Enter Username" name="uname" required>

    <label><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>

       <label><b>Repeat Password</b></label>
    <input type="password" placeholder="Repeat Password" name="psw-repeat" required>

    <button type="submit">Click to change password</button>

  </div>


</form>

</body>
</html>